@font-face {
    font-family: 'Kanit-Bold';
    src: url('Kanit-Bold.eot');
    src: url('Kanit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Bold.woff2') format('woff2'),
        url('Kanit-Bold.woff') format('woff'),
        url('Kanit-Bold.ttf') format('truetype'),
        url('Kanit-Bold.svg#Kanit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-ExtraLight';
    src: url('Kanit-ExtraLight.eot');
    src: url('Kanit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraLight.woff2') format('woff2'),
        url('Kanit-ExtraLight.woff') format('woff'),
        url('Kanit-ExtraLight.ttf') format('truetype'),
        url('Kanit-ExtraLight.svg#Kanit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Thin';
    src: url('Kanit-Thin.eot');
    src: url('Kanit-Thin.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Thin.woff2') format('woff2'),
        url('Kanit-Thin.woff') format('woff'),
        url('Kanit-Thin.ttf') format('truetype'),
        url('Kanit-Thin.svg#Kanit-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-ExtraBold';
    src: url('Kanit-ExtraBold.eot');
    src: url('Kanit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraBold.woff2') format('woff2'),
        url('Kanit-ExtraBold.woff') format('woff'),
        url('Kanit-ExtraBold.ttf') format('truetype'),
        url('Kanit-ExtraBold.svg#Kanit-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Black';
    src: url('Kanit-Black.eot');
    src: url('Kanit-Black.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Black.woff2') format('woff2'),
        url('Kanit-Black.woff') format('woff'),
        url('Kanit-Black.ttf') format('truetype'),
        url('Kanit-Black.svg#Kanit-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Light';
    src: url('Kanit-Light.eot');
    src: url('Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Light.woff2') format('woff2'),
        url('Kanit-Light.woff') format('woff'),
        url('Kanit-Light.ttf') format('truetype'),
        url('Kanit-Light.svg#Kanit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('Kanit-SemiBold.eot');
    src: url('Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-SemiBold.woff2') format('woff2'),
        url('Kanit-SemiBold.woff') format('woff'),
        url('Kanit-SemiBold.ttf') format('truetype'),
        url('Kanit-SemiBold.svg#Kanit-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Regular';
    src: url('Kanit-Regular.eot');
    src: url('Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Regular.woff2') format('woff2'),
        url('Kanit-Regular.woff') format('woff'),
        url('Kanit-Regular.ttf') format('truetype'),
        url('Kanit-Regular.svg#Kanit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Medium';
    src: url('Kanit-Medium.eot');
    src: url('Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Medium.woff2') format('woff2'),
        url('Kanit-Medium.woff') format('woff'),
        url('Kanit-Medium.ttf') format('truetype'),
        url('Kanit-Medium.svg#Kanit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}